<% extend('../layout/dashboard-layout.ejs', { moduleType: 'userModule' }) %>

<div class="main container-fluid my-4">
  <% if (hasInfo) { %>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-info" role="alert">
        <%= messages %>
      </div>
    </div>
  </div>
  <% } %>
  <!--  -->
  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table" id="categoriesTable">
        <thead>
          <tr>
            <th>信箱</th>
            <th>名稱</th>
            <th>備註</th>
            <th>角色</th>
            <th width="110"></th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          <% for (var prop in users) { %>
          <tr class="disabled" data-id="<%= users[prop].uid %>">
            <td class="align-middle">
              <input
                type="text"
                class="form-control form-control-sm"
                name="email"
                value="<%- users[prop].email %>"
                disabled
              />
            </td>
            <td class="align-middle">
              <input
                type="text"
                class="form-control form-control-sm"
                name="display_name"
                value="<%- users[prop].display_name %>"
              />
            </td>
            <td>
              <input
                type="text"
                class="form-control form-control-sm"
                name="note"
                value="<%- users[prop].note %>"
              />
            </td>
            <td class="align-middle">
              <select name="role" id="role" <% if (roles[users[prop].role].name !== 'admin') { %> disabled <% } %> >
                <option value=""> -- 請選擇-- </option>
                <% for (var role of Object.values(roles)) { %>
                  <option 
                    value="<%= role.id %>" <% if (users[prop].role === role.id) { %>selected<% } %>
                  >
                    <%= role.name %>
                  </option>
                <% } %> 
              </select>
            </td>
            <td class="align-middle">
              <form
                method="POST"
                action="/dashboard/currentUser/update/<%- users[prop].uid %>"
              >
                <button type="submit" class="btn btn-primary btn-sm btn-update">
                  更新
                </button>

                <button class="btn btn-outline-primary btn-sm btn-edit">
                  <!-- 編輯 -->
                </button>

                <input
                  hidden
                  type="text"
                  class="form-control form-control-sm"
                  name="display_name"
                  value="<%- users[prop].display_name %>"
                />
                <input
                  hidden
                  type="text"
                  class="form-control form-control-sm"
                  name="note"
                  value="<%- users[prop].note %>"
                />
                <input
                  hidden
                  type="text"
                  class="form-control form-control-sm"
                  name="role"
                  value="<%- users[prop].role %>"
                >
              </form>
            </td>
            <!-- <td class="align-middle">
              <form
                method="POST"
                action="/dashboard/users/delete/<%# users[prop].uid %>"
              >
                <button type="submit" class="btn btn-outline-danger btn-sm">
                  刪除
                </button>
              </form>
            </td> -->
          </tr>
          <% } %>
        </tbody>
      </table>

      <!-- <form method="POST" action="/dashboard/categories/create">
        <table class="table">
          <tr>
            <td class="align-middle">新增</td>
            <td>
              <label for="name">分類名稱</label>
              <input
                type="text"
                class="form-control"
                id="name"
                name="name"
                placeholder="請輸入分類名稱"
              />
            </td>
            <td colspan="2">
              <label for="path">路徑</label>
              <input
                type="text"
                class="form-control"
                id="path"
                name="path"
                placeholder="請輸入分類路徑"
              />
            </td>
          </tr>
        </table>
        <div class="text-right">
          <button type="submit" class="btn btn-primary">新增資訊</button>
        </div>
      </form> -->
    </div>
  </div>
</div>

<style>
  /* input 無法編輯 */
  /* https://stackoverflow.com/questions/11180177/can-one-disable-an-input-field-by-pure-css */
  tr.disabled input,
  tr.disabled textarea,
  tr.disabled select {
    pointer-events: none;
    border: 1px solid grey;
    background-color: lightgrey;
  }

  /* 編輯按鈕 */
  tr.disabled .btn-edit:before {
    content: '編輯';
  }
  tr:not(.disabled) .btn-edit:before {
    content: '取消';
  }

  /* 更新只有在沒有 disabled 時才會出現 */
  tr.disabled .btn-update {
    /* display: none; */
    visibility: hidden;
  }
</style>

<script>
  const categoriesTable = document.querySelector('#categoriesTable')

  categoriesTable.addEventListener('click', (e) => {
    // 編輯狀態切換
    if (e.target.classList.contains('btn-edit')) {
      e.preventDefault()
      const tr = e.target.parentNode.parentNode.parentNode
      console.log('id', tr.dataset.id)


      // 從反灰色變白色
      if (tr.classList.contains('disabled')) {
        tr.dataset.display_name = tr.querySelector('input[name="display_name"]').value
        tr.dataset.note = tr.querySelector('input[name="note"]').value
        tr.dataset.role = tr.querySelector('select[name="role"]').value
        // e.target.textContent = '取消'
      }
      // 從白色變反灰
      if (!tr.classList.contains('disabled')) {
        tr.querySelector('input[name="display_name"]').value = tr.dataset.display_name
        tr.querySelector('input[name="note"]').value = tr.dataset.note
        tr.querySelector('select[name="role"]').value = tr.dataset.role
        // e.target.textContent = '編輯'
      }
      tr.classList.toggle('disabled')
    }

    // 更新
    if (e.target.classList.contains('btn-update')) {
      // e.preventDefault()
      const tr = e.target.parentNode.parentNode.parentNode
      const td = e.target.parentNode.parentNode
      console.log('id', tr.dataset.id)

      tr.classList.toggle('disabled')
      const display_name = tr.querySelector('input[name="display_name"]').value
      const note = tr.querySelector('input[name="note"]').value
      const role = tr.querySelector('select[name="role"]').value
      const id = tr.dataset.id

      const display_nameInput = td.querySelector('input[name="display_name"]')
      const noteInput = td.querySelector('input[name="note"]')
      const roleInput = td.querySelector('input[name="role"]')
      console.log(display_nameInput)

      display_nameInput.value = display_name
      noteInput.value = note
      roleInput.value = role

      console.log('name input', tr.querySelector('input[name="display_name"]'))
      console.log('display_nameInput', display_nameInput)
    }
  })
</script>
